
.headerButtons{
    position: fixed; 
    width: 45%;
    z-index: 9999;      
    display: flex;
    justify-content: space-around;
}
.svo{
    width: 100%;
    height: 115px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.containerButtons{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 2000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.svo:not(.scrolled) .backgroundBlur {
    opacity: 1;
}
.svo.scrolled {
    height: 80px;
    background-color: rgb(24, 24, 24);
}
.catalogButton{
    width: 10%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.signUpButton{
    width: 20%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.callbackButton{
    width: 10%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.contactsButton{
    width: 10%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.aboutusButton{
    width: 10%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    
}
.mainButton{
    width: 10%;
    height: 60px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
  .scrollyButton{
    background: rgba(255, 255, 255, 0.805);
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
  }
  .svo.scrolled .catalogButton,
.svo.scrolled .signUpButton,
.svo.scrolled .callbackButton,
.svo.scrolled .contactsButton,
.svo.scrolled .aboutusButton,
.svo.scrolled .mainButton {
    color: white;
}
  .favButton {
    width: 5%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
}
.heartIcon {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    fill: rgba(182, 157, 157, 0); 
    stroke: rgb(24, 24, 24); 
}
.heartIcon:hover {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    fill: transparent; 
    stroke: white; 
    stroke-width: 1.5;
}
.svo.scrolled .heartIcon {
    stroke: rgb(255, 255, 255);
    fill: transparent;
}
.svo.scrolled .heartIcon:hover{
    fill: white;
}
.profileButton {
    width: 5%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgb(24, 24, 24);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profileIcon {
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
    fill: transparent; 
    stroke: rgb(24, 24, 24);
    stroke-width: 1.5;
}
.svo.scrolled .profileIcon {
    stroke: rgb(255, 255, 255) !important;
    fill: transparent;
}
.svo.scrolled .profileIcon:hover {
    stroke: rgb(255, 255, 255);
    fill: white;
}
.svo.scrolled .favButton,
.svo.scrolled .profileButton {
    color: white !important; 
}
.profileIcon:hover {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    fill: transparent; 
    stroke: white; 
}
