
.headerButtons{
    position: fixed; 
    width: 45%;
    z-index: 9999;      
    display: flex;
    justify-content: space-around;
}
@media (max-width: 480px) {
    .headerButtons{
        position: fixed; 
        width: 45%;
        z-index: 9999;      
        display: flex;
        justify-content: space-around;
    }
    .svo{
        width: 100%;
        height: 50px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        z-index: 100;
    }
    .containerButtons{
        width: 60%;
        height: 60px;
        position: fixed;
        z-index: 2000;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .backgroundBlur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(10px); 
        z-index: -1;
    }
    .catalogButton{
        width: 18%;
        height: 30px;
        background-color: rgb(78, 78, 78);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    .callbackButton{
        width: 18%;
        height: 30px;
        background-color: rgb(78, 78, 78);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    .contactsButton{
        width: 18%;
        height: 30px;
        background-color: rgb(78, 78, 78);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    .aboutusButton{
        width: 18%;
        height: 30px;
        background-color: rgb(78, 78, 78);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        
    }
    .mainButton{
        width: 18%;
        height: 30px;
        background-color: rgb(78, 78, 78);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 10px;
        transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    .transparentButton {
        background-color: black;
        color: white;
        border: 2px solid rgb(156, 156, 156);; 
      }
      .scrollyButton{
        background: rgba(255, 255, 255, 0.805);
        transition: all 0.3s ease;
      }
  }
.svo{
    width: 100%;
    height: 150px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 100;
}
.containerButtons{
    width: 60%;
    height: 120px;
    position: fixed;
    z-index: 2000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.backgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px); 
    z-index: -1;
}
.catalogButton{
    width: 18%;
    height: 60px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.callbackButton{
    width: 18%;
    height: 60px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.contactsButton{
    width: 18%;
    height: 60px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.aboutusButton{
    width: 18%;
    height: 60px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    
}
.mainButton{
    width: 18%;
    height: 60px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.transparentButton {
    background-color: black;
    color: white;
    border: 2px solid rgb(156, 156, 156);; 
  }
  .scrollyButton{
    background: rgba(255, 255, 255, 0.805);
    transition: all 0.3s ease;
  }