.mainHeaderBackground{
    width: 100%;
    height: 980px;
    background-color: rgb(87, 87, 87);
    position: relative; 
    z-index: -1; 
    
}

.mainHeader{
    width: 100%;
    height: 980px;
    background-image: url(./img/house29\ \(1\).jpg);
    background-size: cover;
   
    background-position: center center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 10;
   
    
}
.mainHeader:before {
	content: '';
	display: block;
    z-index: 100;
	width: 100%;
	height: 980px;
	position: absolute;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .2);
}
.headerTitle{
    width: 70%;
    height: 28%;
    color: white;
    font-size: 100px;  
    text-align: left;
    margin-left: 50px;
    font-weight: 600;  
    position: absolute;
}
.mainHeaderTwo{
    width: 100%;
    height: 980px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:start;
}
.headerButtons{
    width: 800px;
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.catalogButton{
    width: 130px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.callbackButton{
    width: 130px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.contactsButton{
    width: 130px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.aboutusButton{
    width: 130px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.mainButton{
    width: 130px;
    height: 50px;
    background-color: rgb(78, 78, 78);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}