.mainFaq{
    width: 100%;
    height: 1200px;
    background-color: rgb(87, 87, 87);
}
.faqContainer{
    width: 100%;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}