.mainBar{
    width: 25%;
    color: black;
}
.searchInput{
    width:100%;
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
   font-weight: 600;
   color: black;
   padding-left: 2%;
}
.searchInput:focus{
   outline: none;
   
}
.searchContainer{
    width: 100%;
    height: 100%;
}