.mainBar{
    width: 100%;
    height: 400px;
    background-color: wheat;
}
.searchInput{
    width: 20%;
    height: 50px;
    border: none;
}
.searchInput:hover{
    border: none;
}
.searchContainer{
    width: 100%;
    height: 100%;
}