.main{
    width: 100%;
    height: 500px;
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;

}
.filters{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(20%);
    
}
.resetButton {
    height: 80%;
    border-radius: 15px;
    flex-grow: 1;
    border-color: transparent;
    background-color: rgb(35, 35, 35);
    font-size: 40px;
    color: white;
    position: relative;     
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease-in-out 0.2s;
    cursor: pointer;
    
  }
.resetButton{
    width: 100%;
    height: 70px;
    border-radius: 10px;
}
.rightPart{
    width: 49%;
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 20px;
}
.leftPart{
    width: 49%;
    height: 100%;
    display: flex;
flex-direction: column;
gap: 20px;
justify-content: flex-end;
}