.filtersPanel {
  width: 100% ;
    background: rgb(251, 251, 251);
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .filterGroup {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .filterGroup h3 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: rgb(35, 35, 35);
  }
  
  .buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .filterButton {
    width: 18%;
    height: 20%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 25px;
    color: black;
    font-weight: 600;
  }
  
  .filterButton:hover {
    background: #f0f0f0;
  }
  
  .filterButton.active {
    background: rgb(35, 35, 35);
    color: white;
    border-color: #000000;
  }