.phone {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 50%;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 20px;
    color: rgb(96, 96, 96);
    font-size: 50px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
  position: relative;
    
    cursor: text;

    .phones {
      display: block;
      width: 100%;
      height: 100%;
      outline: none;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: text;
    }
  }

  .cursor {
    position: absolute;
    width: 2px;
    height: 33px;
    background-color: rgb(76, 76, 76);
    transition: left 0.1s;
    animation: blink 1s ease-in infinite;
  }
  .cursorHidden {
   display: none;
  }
  @keyframes blink {
    0%, 100% {
      opacity: 1; 
    }
    50% {
      opacity: 0; 
    }
  }
@media (max-width:393px){
  .phone {
    display: flex;
    align-items: center;
    width: 99%;
    height: 60%;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 10px;
    color: rgb(96, 96, 96);
    font-size: 20px;
    font-weight: 500;
  position: relative;
}
}
@media (max-width:480px){
  .phone {
    display: flex;
    align-items: center;
    width: 99%;
    height: 60%;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 10px;
    color: rgb(96, 96, 96);
    font-size: 20px;
    font-weight: 500;
  position: relative;
}
}