
.mainText{
    width: 100%;
    height: 800px;
    background-color: rgb(87, 87, 87);
}
.containerPic{
    width: 100%;
    height: 800px;
  
.backgroundPic{
    width: 100%;
    height: 100%;
    background-image: url(./images/4b971c9186104e64f15a0268537f379dlndj97ra8wdzl8zj_2\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
}
.blackCube{
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.736);
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
.info1{
    width: 33%;
    height: 100%;
    border-right: 1px solid white ;
}
.info2{
    width: 35%;
    height: 100%;
}
.info3{
    width: 33%;
    height: 100%;
    border-left: 1px solid white;
}
.titleInfo{
    width: 100%;
    height: 20%;
    color: white;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid white;
}
.textInfo{
    width: 80%;
    height: 80%;
    color: white;
    font-size: 35px;
    transform: translateX(5%) translateY(5%);
    font-size: clamp(1.9rem, 10vw, 1.9rem);
}
.subTitleInfo{
    width: 100%;
    display: flex;
    transform: translateX(3%);
}