.catalogMain{
    height: 14000px;
    row-gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 87, 87);
}
.first3{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
}
.houseRow{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
}
.noResults{
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: white;
    font-weight: 600;
}
