.card {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  width: 32%;
  height: 100%;
  text-align: center;
  background-color: #d6d6d6;
}

.cardImage {
   width: 100%;
   height: 70%;
   background-size: cover;
   border-radius: 20px;
   background-image: url(../imgHouses/house1.jpg);
}
.cardContent{
  font-size: 50px;
}