.main{
    width: 100%;
    height: 1600px;
    background-color: rgb(87, 87, 87);
    padding-top: 150px;
}
.three{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.review{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviewText{
    height: 15%;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.reviewPic{
    width: 100%;
    height: 80%;
    background-image: url(./pics/stek-iz-derevannyh-dosok-v-masterskoi.jpg);
    background-size: cover;
    border-radius: 10px;
}